


<div id="signup">

        <div class="form-group">

                <%= form_for @user do |f| %>


                <div class="control-group">
                        <%= f.label :fname, class: "control-label" %>
                
                        <%= f.text_field :fname, class: "form-control", placeholder: "First Name" %>
        
                </div><br>

                <div class="control-group">   
                        <%= f.label :lname, class: "control-label" %>
        
                        <%= f.text_field :lname, class: "form-control", placeholder: "Last name" %>
                
                </div><br>

                <div class="control-group">  
                        <%= f.label :username, class: "control-label" %>
                        <%= f.text_field :username, class: "form-control", placeholder: "Username" %>
                </div><br>

                <div class="control-group"> 
                        <%= f.label :sex, class: "control-label" %>
                        <%= radio_button_tag(:sex, "sex") %>
                        <%= label_tag(:sex, "F") %>       
                        <%= radio_button_tag(:sex, "sex") %>
                        <%= label_tag(:sex, "M") %>
                </div><br>

                 <div class="control-group">       
                        <%= f.label :email, class: "control-label" %>
                        <%= f.text_field :email, class: "form-control", placeholder: "Email" %>
                </div><br>

                 <div class="control-group">       
                        <%= f.label :password, class: "control-label" %> 
                        <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
                </div><br>

                 <div class="control-group">
                        <%=f.label :picture, class: "control-label" %>
                        <%= f.file_field :avatar, class: "form-control", placeholder: "Upload Photo" %>
                </div><br>

                        <div class="form-actions"> 
                        <%= f.submit  'Submit', class: "btn btn-primary" %>
                </div><br>

                        <% end %>
        </div>
</div>

        

       