
<!--  menu appears only at login  -->

<% if !current_user%>

    <div id="menu">
      <ul>
         <li><%= link_to 'Login', login_path %></li>
         <li><%= link_to "Sign Up Here!", new_user_path %></li>
      </ul>     
    </div>

<% end %>
<div class="home_container">


<!--  if user logs in they will have a welcome message on the landing page  -->

     <% if current_user %>

     <%= render 'partials/navbar' %>

               <h2 id="h2l"> Welcome <%= current_user.username %>!</h2><hr>
              <div class="home_current_user">
                <h4 id="h2">What are you up to? Looking for a new place to train?</h4><br> 
                <h4>Want do to something different like a dance class, yoga or go rock climbing?</h4>
                <hr>
              </div>              
</div>
<div class="row">  
  <div class="col-xs-6">     
    <div class="panel panel-default">
      <div class="panel-heading">Review</div>
        <div class="panel-body-success">
          <% @posts.each do |p| %>
          <strong>Place: &nbsp</strong> <%= p.place %> &nbsp 
          <strong>Location: &nbsp</strong> <%= p.location %> &nbsp 
          <strong>City: &nbsp</strong><%= p.city %><br>
          <strong>Review: &nbsp</strong><%= p.post %><br>
          <strong>Username: &nbsp</strong><%= p.user.username %><br>
          <strong>Date: &nbsp</strong><%= time_ago_in_words(p.created_at) %><br>
          <br><hr>
          <% end %>
          <%= will_paginate @posts, previous_label: "Newer", next_label: "Older", inner_window: 1, outer_window: 0 %>
        </div>
      </div>
    </div> 
</div>


             



         
       
<!--   landing page for all visitors and members not signed in  -->

      <% else %>
      
      <div class="home_intro_1">
          <h1>Welcome To GymTalk</h1><hr><br>
      </div>
      <div class="home_intro_2">
        <h1>The app on where to move and who is doing it!!</h1><hr><br>
      </div>
 
     <% end %>
</div>






<div id="masonry-container" class="transitions-enabled infinite-scroll clearfix" >
  <div class="box col4">
    <%= image_tag 'land1.jpg' %>
  </div>
  <div class="box col4">
    <h4>Find a spot to workout now!</h4>
  </div>
  <div class="box col4">
    <%= image_tag 'land2.jpg', class: "landpic" %>
  </div>
  <div class="box col4">
    <%= image_tag 'land3.jpg' %>
  </div>
  <div class="box col4">
    <%= image_tag 'land4.jpg' %>
    </p>
  </div>
  <div class="box col4">
    <%= image_tag 'land5.jpg' %>
  </div>
  <div class="box col4">
    <h4>Prepare yourself for the latest training that burns!</h4>
  </div>
  <div class="box col4">
    <%= image_tag 'land6.jpg' %>
  </div>
  <div class="box col4">
    <%= image_tag 'land7.jpg' %>
  </div>
  <div class="box col4">
    <%= image_tag 'land8.jpg' %>
  </div>
  <div class="box col4">
    <%= image_tag 'land9.jpg' %>
  </div>
  <div class="box col4">
    <h4>Too tired being of being tired? Take a run in your local park. Check out the dance studio after work. </h4>
  </div>
  <div class="box col4">
    <%= image_tag 'land10.jpg' %>
  </div>
  <div class="box col4">
    <%= image_tag 'land11.jpg' %>
  </div>
  <div class="box col4">
    <%= image_tag 'land12.jpg' %>
  </div>
  <div class="box col4">
    <%= image_tag 'land13.jpg' %>
  </div>
  <div class="box col4">
    <%= image_tag 'land14.jpg' %>
  </div>
  <div class="box col4">
    <%= image_tag 'land15.jpg' %>
  </div>
</div>




  

    
     
    

      

         