
<!--  menu appears only at login  -->

<% if !current_user%>

    <div id="menu">
      <ul>
         <li><%= link_to 'Login', login_path %></li>
         <li><%= link_to "Sign Up Here!", new_user_path %></li>
      </ul>     
    </div>

<% end %>
<div class="home_container">

<!--  if user logs in they will have a welcome message on the landing page  -->

     <% if current_user %>

               <h2> Welcome <%= current_user.username %>!</h2><hr>
              <div class="home_current_user">
                <h3>What are you up to? Looking for a new place to train?</h3><br> 
                <h3>Want do to something different like a dance class, yoga or go rock climbing?</h3>
                <hr>
              </div>              
</div>
<div class="row">  
  <div class="col-xs-6">     
    <div class="panel panel-default">
      <div class="panel-heading">Review</div>
        <div class="panel-body-success">
          <% @posts.each do |p| %>
          <strong>Place: &nbsp</strong> <%= p.place %> &nbsp 
          <strong>Location: &nbsp</strong> <%= p.location %> &nbsp 
          <strong>City: &nbsp</strong><%= p.city %><br>
          <strong>Review: &nbsp</strong><%= p.post %><br>
          <strong>Username: &nbsp</strong><%= p.user.username %><br>
          <strong>Date: &nbsp</strong><%= time_ago_in_words(p.created_at) %><br>
          <br><hr>
          <% end %>

          <%= will_paginate @posts, previous_label: "Older", next_label: "Newer", inner_window: 1, outer_window: 0 %>
        </div>
      </div>
    </div> 
</div>

<div class="col-xs-6">
             
  <ul>
     <li><%= link_to "Profile", user_path(current_user), class: "btn btn-success" %></li>
     <li><%= link_to "Post", posts_path, class: "btn btn-success" %></li>
     <li><%= link_to "LogOut", logout_path, method: :delete, class: "btn btn-info"%></li>
  
  </ul>
</div>


         
       
<!--   landing page for all visitors and members not signed in  -->

      <% else %>
      
      <div class="home_intro_1">
          <h1>Welcome To GymTalk</h1><hr><br>
          <h3>Find other members reviews: about gyms, dances studios, health activity events in NYC & LA</h3>
      </div>
      <div class="home_intro_2">
        <h1>Get Gymtalk</h1><hr><br>
          <h3>Do you like to visit different sport clubs?  Itching for a new dance class? GymTalk App is for those who want to share and learn about where to go to get a good workout, try a new sport or explore a different place.</h3>
      </div>
 
     <% end %>
</div>



<!--  pics for landing page -->

<div class="sm_pics">  
   <%= image_tag 'land4.jpg' %>
</div>
<div class="sm_pics">  
   <%= image_tag 'land1.jpg' %>
</div>
<div class="sm_pics">  
   <%= image_tag 'land2.jpg' %>
</div>
<div class="sm_pics">  
   <%= image_tag 'land3.jpg' %>
</div>
<div class="sm_pics">  
   <%= image_tag 'land4.jpg' %>
</div>
<div>
   <%= image_tag 'land1.jpg' %>
</div>
<div class="sm_pics">  
   <%= image_tag 'land2.jpg' %>
</div>
<div class="sm_pics">  
   <%= image_tag 'land4.jpg' %>
</div>

<div>
  <%= image_tag 'land1.jpg' %>
</div>
<div>
  <%= image_tag 'land5.jpg' %>
</div>
  

    
     
    

      

         