Applying different background  -->

<% if current_user %>
<body class="ldbkgrd" >
<% end %>

<!--  menu appears only at login  -->

<% if !current_user %>
    <div id="menu">
      <ul>
         <li><span id="lgn"><%= link_to 'Login', login_path %></span></li>
         <li><span id="sgn"><%= link_to "Sign Up Here!", new_user_path %><span></li>
      </ul>     
    </div>


<!-- Appears on login/logout only; bs carousel 3D CSS -->

<div class="row land">
   <div class="col-xs-6 col-md-4" class="w">
    <div class="container spin">
        <div id="carousel">
          <figure><img src="../assets/land1.jpg" width="300" height="150" alt=""></figure>
          <figure><img src="../assets/land2.jpg" width="300" height="150" alt=""></figure>
          <figure><img src="../assets/land4.jpg" width="300" height="150" alt=""></figure>
          <figure><img src="../assets/land13.jpg" width="300" height="150" alt=""></figure>
          <figure><img src="../assets/land10.jpg" width="300" height="150" alt=""></figure>
          <figure><img src="../assets/land3.jpg" width="300" height="150" alt=""></figure>
          <figure><img src="../assets/land9.jpg" width="300" height="150" alt=""></figure>
          <figure><img src="../assets/land14.jpg" width="300" height="150" alt=""></figure>
          <figure><img src="../assets/land15.jpg" width="300" height="150" alt=""></figure>
        </div>
     </div>
  </div>
</div>

<div tabindex="-1" class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" type="button" data-dismiss="modal">x</button>
        <h3 class="modal-title">Heading</h3>
      </div>
      <div class="modal-body">
    </div>
    <div class="modal-footer">
      <button class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
   </div>
  </div>
</div>
</div>

<!-- </div> -->

<!--   landing page for all visitors and members not signed in  -->

<!-- <div class="row"> -->
  <div class="col-xs-12 col-md-8">     
    <div class="home_intro_1">
      <h1 class="wel">Welcome To GymTalk</h1><br>
    </div>
    <div class="home_intro_2">
      <h1 class="wel2">The app for seeking health, networking and who is doing it!</h1><br>
    </div>
  </div>
</div>
</div>
 
<% end %>


<!--  if user logs in they will have a welcome message on the landing page  and see gym listed-->

<% if current_user %>

<%= render 'partials/navbar' %>


<!-- background image for landing -->

<div class="home_container">
    <h2 id="h2"> Welcome <%= current_user.username %>!</h2>
  <div class="home_current_user">
    <h3 id="h2">What are you up to? Looking for a new place to train?<h3>
    <h3>Look for weekly alerts in GymTalk for discounts, free classes, reduced membership fees, and other updates.
    </h3><br
    >
    <div class="thumbnail">
    <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>Discount</strong> 1 free class for you and friend at SoulCycle.
    </div>
  </div>
</div>


<!-- Businesses -->

<div class="row">
  <div class="col-xs-6 col-md-4">
    <div class="thumbnail" class-"stylepost">
       <div class="panel-heading" class="header">LOCATIONS</div>
      <% @gymplaces.each do |p| %>
      <strong>Place:&nbsp</strong> <%= link_to p.place, gymplace_path(p) %>
      <strong>Location: &nbsp</strong> <%= p.description %>
      <strong>Description: &nbsp</strong> <%= p.location %>
      <strong>City: &nbsp</strong><%= p.city %><br>
      <strong>Email: &nbsp</strong><%= p.email %><br>
      <strong>Tel: &nbsp</strong><%= p.telephone %><br>
      <strong>Posted: &nbsp</strong><%= time_ago_in_words(p.created_at) %><br>
      <br><hr>
      <% end %>
      <%= will_paginate @gymplaces, renderer: BootstrapPagination::Rails, previous_label: "Newer", next_label: "Older", inner_window: 1, outer_window: 0 %> 
    </div>
   </div>


<!-- User's reviews  -->

  <div class="col-xs-6 col-md-4">
    <div class="thumbnail" class="userp">
       <div class="panel-heading">REVIEWS</div>
       <% @posts.each do |p| %>
       <%= image_tag p.user.avatar.url(:thumb) %>
        <strong>Place: &nbsp</strong> <%= p.gymplace.place %> &nbsp 
        <strong>Location: &nbsp</strong> <%= p.gymplace.location %>
        <strong>City: &nbsp</strong><%= p.gymplace.city %><br>
        <strong>Review: &nbsp</strong><%= p.post %><br>
        <strong>Username: &nbsp</strong><%= p.user.username %><br>
        <strong>Posted: &nbsp</strong><%= time_ago_in_words(p.created_at) %><br>
        <br><hr>
        <% end %>        
        <%= will_paginate @posts, renderer: BootstrapPagination::Rails, previous_label: "Newer", next_label: "Older", inner_window: 1, outer_window: 0 %>
      </div> 
    </div>

<!-- Image gallery for businesses -->

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <div id="mapemb">

    <script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script><div style='overflow:hidden;height:440px;width:700px;'><div id='gmap_canvas' style='height:440px;width:700px;'></div><div><small><a href="http://embedgooglemaps.com">                 embed google map              </a></small></div><div><small><a href="http://freedirectorysubmissionsites.com/">reedirectorysubmissionsites.com</a></small></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div><script type='text/javascript'>function init_map(){var myOptions = {zoom:15,center:new google.maps.LatLng(40.71004239078351,-74.00460384813232),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(40.71004239078351,-74.00460384813232)});infowindow = new google.maps.InfoWindow({content:'<strong>SoulCycle</strong><br>101 Maiden Lane<br>'});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script>
    </div>
  </div>

<!-- Business Gallery -->

  <div class="container-gallery"> 
    <div class="row">
        <div class="col-xs-6 col-md-4"><a title="Crunch">
            <img class="thumbnail img-responsive" src="../assets/crunch.jpg" width="600" height="300"></a></div>
        <div class="col-xs-6 col-md-3">
          <a title="UFC"><img class="thumbnail img-responsive" src="../assets/ufcgym.jpg"></a>
        </div>

        <div class="col-xs-6 col-md-3"><a title="Blink"><img class="thumbnail img-responsive" src="../assets/blink.jpg" ></a></div>

        <div class="col-xs-6 col-md-3"><a title="Downtown Boathouse NYC"><img class="thumbnail img-responsive" src="../assets/kayak.jpg" width="600" height="300"></a></div>

        <div class="col-xs-6 col-md-3"><a title="SoulCycle"><img class="thumbnail img-responsive" src="../assets/soulcycle.jpg" width="600" height="300"></a></div>

        <div class="col-xs-6 col-md-3"><a title="Bikram Yoga"><img class="thumbnail img-responsive" src="../assets/bikram.jpg" width="600" height="300"></a></div>
      </div>
    </div>
  </div>
</div> 


<!-- bs modal effects  -->

<% end %>
