<!DOCTYPE html>
<html>
<head>
  <title>gymtalk</title>
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous">
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "new" if controller_name == "new" %>
</head>
<body data-spy="scroll" data-target="#nb">
  
  
<!-- logo -->

  <div class="logo">
    <%= link_to(image_tag("/assets/chat.png", :alt => "logo", :title => "Home"), "/") %><span id="bluelogo">Gym</span><span id="greenlogo">Talk</span>
  </div>



  <!-- insert render to display nav unless marked disabled -->

 <%= render 'partials/navbar' unless @disable_nav %>
 
  
<!--  flash notices  -->

  <div class="flash_n">
    <% flash[:notice] if flash[:notice] %>
  </div>
  
  <div class="flash_a">
    <% flash[:alert] if flash[:alert] %>
  </div>


 <!-- yeild below  -->

<div id="yeild_container">
        <%= yield %>      
</div>


</body>
</html>
